/* Tirta Wirya Putra - Hacktiv8 phase0 week1 day4 */
html {
	font-size: 10px;
	background-image: url("img/sample-pattern.png");
}

header {
	background-color: white;
}

footer {
	font-size: 1.2rem;
	height: 5rem;
	background-color: rgba(0,0,0,0.9);
	color: white;
	text-align: center;
	line-height: 5rem;
}
