/* Tirta Wirya Putra - Hacktiv8 phase0 week1 day4 */
html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 10px;
	font-family: 'Slabo 27px', serif;
}

.container {
	min-height: 100%;
	position: relative;
 	background-image: url("img/sample-pattern.png");
 	font-size: 1.6rem;
}

header {
	background: #ffffff;
	padding: 1rem;
	position: fixed;
	width: 100%;
	height: 4rem;
	border: 0.1rem solid #a6a6a6;
}

nav {
	float: right;
	width: 30rem;
}

li {
	display: inline-block;
	margin: 0 1.5rem;
}

a {
	text-decoration: none;
	color: #0483ff;
}

section {
	padding: 7rem 20rem 12rem 20rem;
	height: 100%;
}

h1 {
	font-size: 4rem;
	text-align: center;
	color: #000059;
}

#article-list {
	background: #ffffff;
	height: auto;
}

article {
	border-bottom: 0.1rem solid #d3d3d3;
	margin: 0;
	padding: 2rem;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 7rem;   /* Height of the footer */
	background: #262626;
	text-align: center;
	line-height: 2.8rem;
	font-size: 1.4rem;
	color: #ffffff;
}