<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Cari Resto</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link rel="stylesheet" href="/selectize/css/selectize.legacy.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <style>
  body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
  }
  main {
     flex: 1 0 auto;
  }
  .map{
      width: 600px;
      height: 400px;
      border: 1px solid #000;
      margin-bottom: 20px;
    }

    .map p{
    margin: 10px;
    color: #333;
    }
  </style>
  </head>


<body>
  <main>
    <nav class="red darken-2" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Cari Resto</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/restaurants/search">Search</a></li>
                <li><a href="/bmi">BMI</a></li>
            </ul>


            <!-- <ul id="nav-mobile" class="side-nav">
                <li><a href="#">Navbar Link</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a> -->
        </div>
    </nav>


    <!-- Modal Structure -->
