<% include ./partials_admin/header %>

    <div class="container">
        <div class="section">
            <div class="row">

              <!-- coding here -->


            </div>
        </div>
    </div>


    <% include ./partials_admin/footer %>
