<footer class="container-fluid">
  <p>&copy; E.T 2017 All Right Reserved</p>
</footer>
</body>
<script type="text/javascript">
$(document).ready(function() {
  $(".js-example-basic-single").select2({
    placeholder: "Search Menu..",
    allowClear: true
  });
});
</script>