<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title><%= title %></title>
  </head>
  <body>
    <header class="business-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12  text-center">
            <br><br><br><br><br><br>
            <hr>
            <h1 class="tagline"><%= title %></h1>
            <hr>
            <p>Find the best menu in Jakarta</p>
            <br>
            <select class="selectpicker" title="Choose menu..." data-live-search="true">
              <option data-tokens="ayam_bakar">Ayam Bakar</option>
              <option data-tokens="ikan_goreng">Ikan Goreng</option>
              <option data-tokens="ayam_goreng">Ayam Goreng</option>
              <option data-tokens="ikan_bakar">Ikan Bakar</option>
              <option data-tokens="ayam_sayur">Ayam Sayur</option>
              <option data-tokens="rendang">Rendang</option>
              <option data-tokens="sushi">Sushi</option>
              <option data-tokens="kopi">Kopi</option>
              <option data-tokens="kentang_goreng">Kentang Goreng</option>
            </select>
            <a class="btn btn-info btn-md" href="/searchs/search">Go »</a>
          </div>
        </div>
      </div>
    </header>
