<div class="col-sm-3 sidenav">
      <br>
      <h4>Filter by Category</h4>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="/categories/japanese">Japanese Food</a></li>
        <li><a href="/categories/pizza_pasta">Pizza & Pasta</a></li>
        <li><a href="/categories/mie">Bakmie</a></li>
        <li><a href="/categories/seafood">Seafood</a></li>
        <li><a href="/categories/coffee_shop">Coffee Shop</a></li>
        <li><a href="/categories/dessert">Sweets & Desserts</a></li>
        <li><a href="/categories/sate">Sate</a></li> 
        <li><a href="/categories/ayam">Ayam</a></li>
      </ul><br>
    </div>