<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>admin</title>

    <center>
      <br>
      <a class="waves-effect waves-light btn" href="/users">HOME</a>
      <a class="waves-effect waves-light btn" href="/users/input-foodcourt">INPUT FOOD-COURT</a>
      <a class="waves-effect waves-light btn" href="/users/input-resto">INPUT RESTO</a>
      <a class="waves-effect waves-light btn" href="/users/input-menu">INPUT MENU</a>

      <a class="waves-effect waves-light btn" href="/users/data-foodcourt">DATA FOOD-COURT</a>
      <a class="waves-effect waves-light btn" href="/users/data-resto">DATA RESTO</a>
      <a class="waves-effect waves-light btn" href="/users/data-menu">DATA MENU</a>
      <hr width="90%", heigth="5px">
      <br><br><br>
    </center>
  </head>


<!--
  <!DOCTYPE html>
  <html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/admin.css">
  </head>
  <body>

  <ul class="sidenav">
    <li><a class="active" href="/users">Home</a></li>
    <li><a href="/users/input-foodcourt">INPUT FOOD-COURT</a></li>
    <li><a href="/users/input-resto">INPUT RESTO</a></li>
    <li><a href="/users/input-menu">INPUT MENU</a></li>
    <li><a href="/users/data-foodcourt">DATA FOOD-COURT</a></li>
    <li><a href="/users/data-resto">DATA RESTO</a></li>
    <li><a href="/users/data-menu">DATA MENU</a></li>
  </ul>

  <div class="content">

  </div>

  </body> -->
  </html>
