<% include partials_users/header %>

    <div class="container">
        <div class="section">
          <h2>Hitung BMI</h2>
            <div class="row">
                <div>
                  <%- message%>
                </div>

                <a href='/bmi' class="btn">Hitung Lagi</a>
                <a href='/restaurants/search' class="btn">Cari Resto</a>

            </div>
        </div>
    </div>
<% include ./partials_users/footer %>
