/* Simple JavaScript Game
	 Tirta Wirya Putra - Hacktiv8 bootcamp phase0 week2 weekly project */
@font-face {
  font-family: "Frente H1";
  src: url("FrenteH1-Regular.otf");
}
    
html, body, h1, h2, h3, h4, ul, ol, li, p, a {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  font-size: 10px;
  font-family: "Frente H1";
}

body {
	background-color: #efe4df;
}

header {
	margin: 3rem auto;
}

h1 {
	font-size: 4rem;
	font-weight: bold;
	text-align: center;
}

.container {
	background-color: #e6eddf;
	width: 70%;
	margin: 5rem auto 10rem auto;
	border: none;
	border-radius: 3rem;
	box-shadow: 1rem 1rem 0.5rem #888888;
	font-size: 2.2rem;
	text-align: center;
	padding-bottom: 3rem;
}

.button {
	float: left;
	margin: 0 0.7rem 2rem 0.7rem;
}

.jawab {
	font-size: 2.8rem;
	letter-spacing: 0.2rem;
	clear: both;
	margin: 1.5rem 0 1rem 0;
}

footer {
	background-color: #2d3033;
  margin: 0;
  color: #c0ecf4;
  font-size: 2rem;
  line-height: 3.5rem;
  text-align: center;
  letter-spacing: 0.3rem;
}

a {
	font-size: 2rem;
	color: #ff0080;
	text-decoration: none;
}

a:hover {
	color: #f5f5f5;
}