<!DOCTYPE html>
<%- include ./partials/menu.ejs %>

<html>

  <head>
    <meta charset="utf-8">
    <title>Add Menu</title>
  </head>

  <body>
    <center>
    <form class="" action="/users/createMenu" method="post" style="width:50%">

      <label for="name">Name</label><br>
      <input type="text" name="name" value="" required><br>

      <label for="price">Price</label><br>
      <input type="text" name="price" value="" required><br>

      <label for="tag">Tag</label><br>
      <input type="text" name="tag" value="" required><br>

      <label for="picture">Picture</label><br>
      <input type="text" name="picture" value="" required><br>

      <select class="browser-default" name='id_resto' required>
                   <option value='' disabled selected>-Resto Name-</option>
                   <%
                   resto.forEach(value => {
                   %>
                   <option value='<%= value.id %>'><%= value.name %></option>
                   <%
                   });
                   %>
      </select>

      <button type="submit" name="add">Insert</button>

    </form>
  </center>
  </body>
</html>
