<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/navbar %>

    <p>
      Welcome <%= user.username %> !
    </p>

  </body>
</html>
